[req]
distinguished_name = elasticsearch
x509_extensions = v3_req
prompt = no
[bluelans]
C = cn
ST = s
L = sz
O = elasticsearch
OU = elasticsearch
CN = elasticsearch
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
IP.1 = 192.168.1.2
IP.2 = 192.168.1.3
IP.3 = 192.168.1.4

